
.item {
  margin-bottom: 20px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
margin-right: 20px;
}

.input {
  display: none;
}

.input + span {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.input + span {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--panel-background);
  border-radius: 3px;
}

.input:checked + span {
  background-color: var(--panel-background) ;
}

.input:checked + span::after {
  content: '';
  position: absolute;
  z-index: 10;
  top: 15%;
  left: 50%;
  width: 6px;
  height: 10px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(45deg) translateX(-50%)
}
