.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 108px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: var(--panel-background);
  color: #ffffff;

}

.menu {
  flex-grow: 1;
}
